snippet fdeb
	File.open(ENV['HOME'] + '/public_html/foo.html', 'w'){|f| f.write(${1})}

snippet def "method definition"
	def ${1:method_name}
		${2}
	end
	

snippet b "block"
	{ |${1:var}| ${2} }

snippet test "test block"
	test "${1:test_name}" do
		${2}
	end

snippet do "block"
	do
		${1}
	end
